@SDR:registry=https://gitlab.pg.innopolis.university/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
//gitlab.pg.innopolis.university/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
